.complainCompDiv{
    border:1px solid #1C1C22;
    margin-bottom:5px;
    width:95%;
}
.complainComp_p{
    max-width:400px;
    min-width: 200px;
    max-inline-size: 370px;
    min-inline-size: 200px;
    overflow-wrap: break-word;
    padding:0 15px 5px 15px;
}