@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
#homeMainDiv{
    min-height: 600px;
    height: 100vh;
    background-image: url('../images/homepage_img.jpeg');
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 20vh;
}
#homeSubDiv{
    width: 400px;
    height: 200px;
    background-color: #1C1C22;
    color: #E0E0E0;
    margin: auto;
    border: 2px solid #E0E0E0;
    border-radius: 15px;
    padding: 80px 30px 40px 30px;
}
#homeBtnsDiv{
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto 0;
}
.homeBtns{
    width: 150px;
    height: 40px;
    background-color: #E0E0E0;
    border: none;
    color: #1C1C22;
    font-size: 23px;
    font-weight: bold;
}
#homeRadioDiv{
    display: flex;
    flex-direction: column;
    width: 180px;
    margin: auto;
    align-items: flex-start;
}
#homeSelect{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #E0E0E0;
    margin-bottom: 10px;
}

@media(max-width:768px){
    #homeMainDiv{
        min-width: 500px;
        width: 103vw;
        padding-top: 100px;
        padding-bottom: 60vw;
        background-position: center;
    }
    #homeSubDiv{
        min-width: 200px;
        width: 70vw;
        max-width: 400px;
        height: 50vh;
        max-height: 200px;
        padding: 10% 30px 40px 5%;
    }
    #homeSelect{
        width: 90%;
        max-width: 250px;
    }
    #homeBtnsDiv{
        width: 80%;
        max-width: 320px;
    }
    .homeBtns{
        width: 45%;
        max-width: 150px;
        min-height: 40px;
        height: inherit;
        max-height: fit-content;
        font-size: 3.4vw;
    }
}