@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
#logoMainDiv{
    width: 60%;
    height: 10vw;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: red; */
    position: absolute;
    /* top: 10px; */
    left: 15px;
    z-index: 40;
}
#logoSubDiv{
    /* font-size: 40px; */
    /* margin-top: -10px; */
    font-size: 5vw;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    color: #C2C2C2;
    text-shadow: 4px 4px black;
}
#logo_img{
    filter: invert(85%);
    /* position: absolute; */
    margin-left: 20px;
    /* width: 75px; */
    width: 11%;
    /* background-color: red; */
    /* z-index: 40; */
}

@media(max-width:768px) {
    #logoMainDiv{
        width: 70%;
        height: 30vw;
        max-height: 200px;
        /* right: 0; */
        left: 0;
        
    }
    #logoSubDiv{
        font-size: 8vw;
    }
    #logo_img{
        width: 20%;
        margin-left: -20px;
    }
}