#signupMainDiv{
    min-height: 600px;
    height: 100vh;
    background-image: url('../images/homepage_img.jpeg');
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 30vh;
}
#signupSubDiv{
    margin: auto;
    padding: 20px 30px 140px 30px;
    width: 300px;
    height: 300px;
    background-color: #1C1C22;
    color: #E0E0E0;
    border: 2px solid #E0E0E0;
    border-radius: 10px;
}
.signupLongInputs{
    width: 250px;
    height: 30px;
    margin-bottom: 5px;
    font-size: 20px;
    text-indent: 8px;
    background-color: #E0E0E0;
}
.signupShortInputs{
    width: 120px;
    height: 30px;
    margin-bottom: 5px;
    text-indent: 3px;
    background-color: #E0E0E0;
}
#shortInputsDiv{
    display: flex;
    flex-direction: row;
    width: 260px;
    margin: auto;
    justify-content: space-between;
}
#signupSelect{
    width: 260px;
    height: 30px;
    font-size: 20px;
    border-radius: 12px;
    text-indent: 8px;
    margin-bottom: 5px;
    background-color: #E0E0E0;
}
#signupBtn{
    width: 150px;
    height: 30px;
    background-color:#E0E0E0;
    color: #1C1C22;
    font-size: 18px;
    font-weight: bold;
}

@media(max-width:768px){
    #signupMainDiv{
        min-width: 500px;
        min-height: 77.2vw;
        padding-top: 100px;
        padding-bottom: 60vh;
    }
    #signupSubDiv{
        min-width: 200px;
        min-height: 200px;
        width: 80vw;
        height: 90vw;
        max-width: 300px;
        max-height: 300px;
    }
    .signupLongInputs{
        width: 80%;
        height: 7vw;
        max-height: 30px;
    }
    #shortInputsDiv{
        width: 85%;
        justify-content: space-evenly;
    }
    .signupShortInputs{
        width: 45%;
        height: 7vw;
        max-height: 30px;
    }
    #signupSelect{
        width: 80%;
    }
    #signupBtn{
        width: 50%;
    }
}