.toolbar_component{
    width: 38%;
    height: 100%;
    padding-right: 2%;
    display: flex;
    justify-content: end;
    align-items: end;
    /* background-color: green; */
}
#toolbar_main{
    display: flex;
    flex-direction: row-reverse;
    /* background-color: yellow; */
}
.toolbar_btns{
    background-color: #E0E0E0;
    width: 11vw;
    height: 5vw;
    /* position: absolute;
    right: 0;
    bottom: 0; */
    border: 1px solid #1C1C22;
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.toolbar_btns:hover{
    background-color: whitesmoke;
}
.toolbar_btns:active{
    background-color: #E0E0E0;
}
#toolbar_btn2{
    /* right: 11vw; */
}
#toolbar_btn3{
    /* right: 22vw; */
}
#logoutBtn{
    /* background-color: #1C1C22; */
    background-color: transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #E0E0E0;
    border: none;
    cursor: pointer;
    /* position: absolute; */
    right: 15px;
    top: 5px;
    font-size: 19px;
}
#logoutBtn:hover{
    color: red;
}
#mobileToolbarDiv{
    display: none;
}
#mobileToolBar{
    display: none;
}
@media(max-width:768px) {
    #toolbar_main{
        /* min-width: 300px; */
        /* height: 30vw; */
        height: 100%;
        max-height: 250px;
        width: 100%;
        justify-content: end;
        align-items: center;
    }
    .toolbar_btns{
        display: none;
    }
    #logoutBtn{
        display: none;
    }
    #mobileToolbarDiv{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-width: 80px;
        width: 30%;
        height:90%;
        /* background-color: red; */
    }
    #mobileToolbar_img{
        filter: invert(85%);
        cursor: pointer;
        min-width: 50px;
        width: 60%;
        min-height: 50px;
        /* height: 60%; */
        background-image: url('../images/menu_icon.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* background-color: green; */
    }
    #mobileToolBar{
        width: 100vw;
        height: 110vh;
        z-index: 39;
        position: absolute;
        top: 14.1vh;
        left: 0;
        display: flex;
        flex-direction: column;
        transition-property: width;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
        /* z-index */
    }
    .mobileToolbar_btns{
        width: 0;
        height: 25%;
        font-size: 0;
        opacity: 0;
        font-weight: bold;
        background-color: #1C1C22;
        color: #E0E0E0;
        border-top: 1px solid #E0E0E0;
        transition-property: width, font-size, opacity;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out  ;
    }
    #logoutMobileBtn:hover{
        color:red;
    }
}